<!doctype html>
<html lang="en">
<head>
  <script src="htpps://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <div>
      <p>Autor: {{ code }} , Código: {{ name }}</p>
      <p>Status: Running</p>
      <p>Fecha: {{date}}</p>
      <h3>================* CONTENEDOR 2 Bakcend *================</h3>
      <p>Autor: {{ code }} , Código: {{ name }}</p>
      <p>Status: Running</p>
      <p>Hostname: {{ host2 }}</p>
      <p>Fecha: {{  fecha2 | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
      <h3>==========* CONTENEDOR 3 Bakcend - Evaluación *==========</h3>
      <p>Autor: {{ code }} , Código: {{ name }}</p>
      <p>Status: {{ status }}</p>
      <p>Hostname: {{ host1 }}</p>
      <p>Fecha: {{  fecha | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
      <p>Cantidad: {{ count }}</p>
      <p>Suma:     {{ sum }}</p>
    </div>
</body>
</html>
